@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

*{
   font-family: 'Poppins', sans-serif;
   margin:0px; padding:10px;
   box-sizing: border-box;
   outline: none; border:none;
   text-decoration: none;
}

.container{
   min-height: 30vh;
   display: flex;
   align-items: normal;
   justify-content: left;
   padding: 20px;
   padding-bottom: 0px;
}

.container .content{
   text-align: center;
   margin-left: 220px;
}

.container .content h3{
   font-size: 30px;
   color:#333;
}

.container .content h3 span{
   background: crimson;
   color:#fff;
   border-radius: 5px;
   padding:0 15px;
}

.container .content h1{
   font-size: 50px;
   color:#333;
}

.container .content h1 span{
   color:crimson;
}

.container .content p{
   font-size: 25px;
   margin-bottom: 20px;
}

.container .content .btn{
  
   display: inline-block;
   padding:10px 30px;
   font-size: 20px;
   background: #333;
   color:#fff;
   margin:0 5px;
   text-transform: capitalize;
}

.container .content .btn:hover{
   background: crimson;
}

.form-container{
   min-height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   padding:20px;
   padding-bottom: 60px;
   background: #eee;
}

.form-container form{
   padding:20px;
   border-radius: 5px;
   box-shadow: 0 5px 10px rgba(0,0,0,.1);
   background: #fff;
   text-align: center;
   width: 500px;
}

.form-container form h3{
   font-size: 30px;
   text-transform: uppercase;
   margin-bottom: 10px;
   color:#333;
}

.form-container form input,
.form-container form select{
   width: 100%;
   padding:10px 15px;
   font-size: 17px;
   margin:8px 0;
   background: #eee;
   border-radius: 5px;
}

.form-container form select option{
   background: #fff;
}

.form-container form .form-btn{
   background: #fbd0d9;
   color:crimson;
   text-transform: capitalize;
   font-size: 20px;
   cursor: pointer;
}

.form-container form .form-btn:hover{
   background: crimson;
   color:#fff;
}

.form-container form p{
   margin-top: 10px;
   font-size: 20px;
   color:#333;
}

.form-container form p a{
   color:crimson;
}

.form-container form .error-msg{
   margin:10px 0;
   display: block;
   background: crimson;
   color:#fff;
   border-radius: 5px;
   font-size: 20px;
   padding:10px;
}

#permission{
   background-color: rgb(229 122 142);
   
}
#submit2:hover{
   background-color: crimson;
   
}
#submit2:active{
background-color:  rgb(52, 181, 52);
}
#submit2{
   display: inline-block;
   padding: 10px 30px;
   font-size: 14px;
   background: #333;
   color: #fff;
   margin: 0 5px;
   text-transform: capitalize;
}

tr:hover{
   
   background-color: rgb(191, 216, 239);
   
}
th {
   background-color:crimson;
}

.directory{
   display: inline-block;
   color:#8b008b;
   border-radius: 8px;
   border:solid rgb(64, 42, 189);
   border-width: 2px;
   background-color: rgb(223, 206, 48);
   margin-top: 10px;
   padding: 5px;
   padding-left: 30px;
}

.directory:hover ,.file:hover{
   background-color: crimson;
}

.file{
   display :inline-block;
   color:#8b008b;
   border-radius: 8px;
   border:solid rgb(64, 42, 189);
   border-width: 2px;
   background-color: aquamarine;
   margin-top: 10px;
   padding:5px;
   padding-left: 30px;
}
#form1, #form2{
   background-color:rgb(222, 117, 117);
   border-width: 2px;
   border-radius: 8px;
   border-left: solid #8b008b;
   margin-bottom: 5px;
   margin-left: 10px;
   display: inline-block;
}

.copy-icon,.copy-icon{
border-radius: 9px;
height: 15px;
font-size: 10px;
padding-top: 0px;
}
.copy-icon:hover{
  background-color: rgb(52, 181, 52);
}
.copy-icon:active {
   background-color:crimson;
}

img{
   
   border: 1px solid #ddd;
  border-radius: 15px;
  padding: 5px;
  width: 100px;
}
.logo{
   background-color: #eee;
   text-align:right;
}
#location{
   text-transform: uppercase;
   margin: 10px;
   margin-left: 0px;
   color:crimson;
   border-radius: 8px;
   border-left: solid rgb(246, 0, 0);
   background-color: rgb(244, 206, 214);
}

.upperfolder,.lowerfile{
   display: inline-block;
}
.logo2{
   text-align:right; 
}